In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
import os

In [16]:
# Load the CSV
cardioDf = pd.read_csv('../Resources/cardio_train.csv', index_col='id')
cardioDf.head(20)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,glc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1
13,17668,1,158,71.0,110,70,1,1,0,0,1,0
14,19834,1,164,68.0,110,60,1,1,0,0,0,0
15,22530,1,169,80.0,120,80,1,1,0,0,1,0
16,18815,2,173,60.0,120,80,1,1,0,0,1,0
18,14791,2,165,60.0,120,80,1,1,0,0,0,0
21,19809,1,158,78.0,110,70,1,1,0,0,1,0
23,14532,2,181,95.0,130,90,1,1,1,1,1,0
24,16782,2,172,112.0,120,80,1,1,0,0,0,1
25,21296,1,170,75.0,130,70,1,1,0,0,0,0
27,16747,1,158,52.0,110,70,1,3,0,0,1,0
28,17482,1,154,68.0,100,70,1,1,0,0,0,0
29,21755,2,162,56.0,120,70,1,1,1,0,1,0

In [13]:
import os
print(os.listdir("../Resources"))

['BMI_Breakdown.png', 'cardio_df_behavior.csv', 'cardio_df_medical.csv', 'cardio_train.csv', 'Cholesterol_Distribution.png', 'confusion_matrix.png', 'dashboard.png', 'Database_Import.JPG', 'Diastolic_Blood_Pressure_Breakdown.png', 'Group 2 Cardiovascular Swimlane chart.png', 'QuickDBD-export.png', 'QuickDBD-export_rev.png', 'Systolic_Blood_Pressure_Breakdown.png', 'thumbnails']

In [17]:
cardioDf = cardioDf.astype('int64')
cardioDf.dtypes

age            int64
gender         int64
height         int64
weight         int64
ap_hi          int64
ap_lo          int64
cholesterol    int64
glc            int64
smoke          int64
alco           int64
active         int64
cardio         int64
dtype: object

In [18]:
cardioDf = cardioDf.drop(['smoke', 'alco', 'active'], axis=1)
cardioDf.head(10)

      age  gender  height  weight  ap_hi  ap_lo  cholesterol  glc  cardio
id
0   18393       2     168      62    110     80            1    1       0
1   20228       1     156      85    140     90            3    1       1
2   18857       1     165      64    130     70            3    1       1
3   17623       2     169      82    150    100            1    1       1
4   17474       1     156      56    100     60            1    1       0
8   21914       1     151      67    120     80            2    2       0
9   22113       1     157      93    130     80            3    1       0
12  22584       2     178      95    130     90            3    3       1
13  17668       1     158      71    110     70            1    1       0
14  19834       1     164      68    110     60            1    1       0

In [19]:
# Scale data 
scaler = StandardScaler()
cardioAttributes = cardioDf.drop('cardio', axis=1)
cardioLabels = cardioDf['cardio']
cardioAttributesScaled = scaler.fit_transform(cardioAttributes)