In [1]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load the CSV
cardio_df = pd.read_csv("../Resources/cardio_train.csv", index_col= "id")
cardio_df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,glc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [3]:
#Determine if there are any missing values
cardio_df.count()

age            70000
gender         70000
height         70000
weight         70000
ap_hi          70000
ap_lo          70000
cholesterol    70000
glc            70000
smoke          70000
alco           70000
active         70000
cardio         70000
dtype: int64

In [4]:
#Determine the data types for the cardio DF
cardio_df.dtypes

age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
glc              int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [5]:
#Change age column from days to years
cardio_df['age'] = cardio_df['age'] / 365.25
cardio_df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,glc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.357290,2,168,62.0,110,80,1,1,0,0,1,0
1,55.381246,1,156,85.0,140,90,3,1,0,0,1,1
2,51.627652,1,165,64.0,130,70,3,1,0,0,0,1
3,48.249144,2,169,82.0,150,100,1,1,0,0,1,1
4,47.841205,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
#Format age column
cardio_df['age'] = cardio_df['age'].map("{:,.0f}".format)
cardio_df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,glc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,52,1,165,64.0,130,70,3,1,0,0,0,1
3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,48,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,53,2,168,76.0,120,80,1,1,1,0,1,0
99995,62,1,158,126.0,140,90,2,2,0,0,1,1
99996,52,2,183,105.0,180,90,3,1,0,1,0,1
99998,61,1,163,72.0,135,80,1,2,0,0,0,1
99999,56,1,170,72.0,120,80,2,1,0,0,1,0

In [7]:
#Look at statistical value for columns for outliers
cardio_df[['age', 'height', 'weight', 'ap_hi', 'ap_lo']].describe()

             height        weight         ap_hi         ap_lo
count  70000.000000  70000.000000  70000.000000  70000.000000
mean     164.359229     74.205690    128.817286     96.630414
std        8.210126     14.395757    154.011419    188.472530
min       55.000000     10.000000   -150.000000    -70.000000
25%      159.000000     65.000000    120.000000     80.000000
50%      165.000000     72.000000    120.000000     80.000000
75%      170.000000     82.000000    140.000000     90.000000
max      250.000000    200.000000  16020.000000  11000.000000

In [8]:
#Remove outliers for height column; Parameters are set at 4’10” to 7’ (147 cm to 213 cm)
index = cardio_df[(cardio_df['height'] >= 213)|(cardio_df['height'] <= 147)].index
cardio_df.drop(index, inplace=True)
cardio_df['height'].describe()

count    69103.000000
mean       164.673632
std          7.586841
min        148.000000
25%        159.000000
50%        165.000000
75%        170.000000
max        207.000000
Name: height, dtype: float64

In [14]:
#Remove outliers for weight column; Parameters are set at 90 to 300lbs (40 kg to 136 kg)
index = cardio_df[(cardio_df['weight'] >= 136)|(cardio_df['weight'] <= 40)].index
cardio_df.drop(index, inplace=True)
cardio_df['weight'].describe()

count    45489.000000
mean        74.550329
std         13.311113
min         46.000000
25%         65.000000
50%         72.000000
75%         82.000000
max        135.000000
Name: weight, dtype: float64

In [10]:
#Remove outliers for ap_hi column; Parameters are set at 100 to 150
index = cardio_df[(cardio_df['ap_hi'] >= 150)|(cardio_df['ap_hi'] <= 100)].index
cardio_df.drop(index, inplace=True)
cardio_df['ap_hi'].describe()

count    55546.000000
mean       123.640262
std          9.528982
min        101.000000
25%        120.000000
50%        120.000000
75%        130.000000
max        149.000000
Name: ap_hi, dtype: float64

In [11]:
#Remove outliers for ap_lo column; Parameters are set at 70 to 110
index = cardio_df[(cardio_df['ap_lo'] >= 110)|(cardio_df['ap_lo'] <= 70)].index
cardio_df.drop(index, inplace=True)
cardio_df['ap_lo'].describe()

count    45489.000000
mean        82.844864
std          5.092428
min         71.000000
25%         80.000000
50%         80.000000
75%         90.000000
max        109.000000
Name: ap_lo, dtype: float64

In [12]:
#Check how many datapoints there are now after removing outliers
cardio_df.count()

age            45489
gender         45489
height         45489
weight         45489
ap_hi          45489
ap_lo          45489
cholesterol    45489
glc            45489
smoke          45489
alco           45489
active         45489
cardio         45489
dtype: int64

NameError: name 'df' is not defined